<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="../dist/netconnection-polyfill.js"></script>
<script>
  (function(root){
    let nc = new NetConnection();
  })(window);
</script>
</body>
</html>
